.services .service-item .icon {
    background-color: #08321ecf;
}

.background-header{
    background-color: #08321E !important;
}

.main-banner .item span.category {
    background-color: #08321E;
}

.header-area .main-nav #search input{
    width: 350px;
}

#iconesite {
    width: 200px;
    margin-left: -20px;
    margin-top: -7.5px;
    margin-right: 10px;
}

.main-banner .item .buttons .main-button a {
    color: #08321ecf;
}

.main-banner .item .buttons .icon-button i{
    color: #08321ecf;
}

.main-button a{
    color: #08321E;
}

.section-heading h6 {
    color: #08321ecf;
}

.section-heading p {
    font-size: 20px;
}

.event_filter li a.is_active,
.event_filter li a:hover , .events_item:hover .down-content h4{
    color: #0f5734;
}

.contact-us .contact-us-content, footer {
    background-color: #08321E;
}

.events_item .thumb span.price {
    background-color: #0f5734;
}


#contact-form button , .events_item .down-content span.author, .events_item .thumb span.category{
    color: #08321E;
}

.events_item .thumb span.price {
    width: 200px;
    height: 100px;
    border-radius: 25%;
}

.events_item .thumb span.price h6{
    margin-top: 58px;
    margin-left: 10%;
    font-size: 25px;
}

.spanh6xd{
    color: white;
}

.thumb img {
    height: 300px;
    width: 450px;
}

.main-banner {
padding-bottom: 0%;
padding-top: 120px;
background-image: none;
background-color:#08321E;
}