.services .service-item .icon {
    background-color: #08321ecf;
}

.background-header{
    background-color: #08321E !important;
}

.main-banner .item span.category {
    background-color: #08321E;
}

.header-area .main-nav #search input{
    width: 350px;
}

#iconesite {
    width: 200px;
    margin-left: -20px;
    margin-top: -7.5px;
    margin-right: 10px;
}

.main-banner .item .buttons .main-button a {
    color: #08321ecf;
}

.main-banner .item .buttons .icon-button i{
    color: #08321ecf;
}

.main-button a{
    color: #08321E;
}

.section-heading h6 {
    color: #08321ecf;
}

.section-heading p {
    font-size: 20px;
}

.event_filter li a.is_active,
.event_filter li a:hover {
    color: #0f5734;
}

.contact-us .contact-us-content, footer {
    background-color: #08321E;
}

#contact-form button {
    color: #08321E;
}